* {
  font-size: 1.1rem;
  font-family: "Courier New", Courier, monospace;
}

body {
  width: 100%;
  background-color: white;
}

.fadeIn {
  animation: fadeInAni;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInAni {
  from {
    opacity: 0;
    transform: translate(0, -15px);
  }

  to {
    opacity: 1;
  }
}

#welcome {
  margin: auto;
  text-align: center;
  transition: 0.5s;
  background-color: black;
  padding: 5px;
  border-radius: 20px;
}

.white {
  color: white;
}

.black-bg {
  background-color: black;
}

.box-shadow {
  box-shadow: 10px 10px 5px #aaaaaa;
}

.gradient-text {
  background-image: linear-gradient(45deg, yellow, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  transition: 0.2s;
}

.gradient-text:hover {
  background-image: linear-gradient(45deg, cyan, blue);
}

.Image-comp {
  border-radius: 20px;
  border: 5px solid black;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.2s;
  text-align: center;
}

#intro {
  display: flex;
  align-items: center;
}

.container-v {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

svg {
  color: white;
  margin: 10px;
  transition: 0.2s;
}

svg:hover {
  background-image: linear-gradient(45deg, yellow, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.15);
  transition: 0.2s;
  cursor: pointer;
}

.width50 {
  width: 50%;
}

.generalText {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
}
