@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 1.1rem;
  font-family: "Courier New", Courier, monospace;
  --white: white;
  --black: black;
}

.fadeIn {
  animation: fadeInAni;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInAni {
  from {
    opacity: 0;
    transform: translate(0, -15px);
  }

  to {
    opacity: 1;
  }
}

.generalBlackBG {
  text-align: center;
  transition: 0.5s;

  background-color: var(--black);
  padding: 10px;
  transition: 0.2s;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.hoverEffect {
  transform: scale(1);
}

.hoverEffect:hover {
  transform: scale(1.03);
}

.white {
  color: var(--white);
}

.black-bg {
  background-color: var(--black);
}

.box-shadow {
  box-shadow: 10px 10px 5px #aaaaaa;
}

.gradient-text {
  background-image: linear-gradient(45deg, yellow, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.blueText {
  background-image: linear-gradient(45deg, cyan, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.Image-comp {
  border: 5px solid var(--black);
  object-fit: cover;
}

.rb20px {
  border-radius: 20px;
}

.rbbl {
  border-bottom-left: 20px;
}

.center {
  display: flex;
  align-items: center;
  margin: auto;
}

.container-v {
  display: flex;
  flex-direction: column;
}

.container-h {
  display: flex;
  flex-direction: row;
}

svg {
  color: var(--white);
  margin: 10px;
  transition: 0.2s;
}

svg:hover {
  transform: scale(1.15);
  transition: 0.2s;
  cursor: pointer;
}

.width50 {
  width: 50%;
}

.generalText {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

footer {
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
}

.pulseAnimation {
  animation-name: pulseAni;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
  transition: 0.2s;
}

@keyframes pulseAni {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.pulseAnimation:hover {
  transform: scale(1.05);
}


path {
  color: var(--white);
  transition: all 0.2s;
}